gunicorn
Flask==1.1.2
Flask-Cors==3.0.10
Jinja2==2.11.2
joblib==1.0.1
json5==0.9.5
jupyter==1.0.0
jupyter-core==4.6.3
jupyterlab==2.2.6
Keras==2.4.3
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
numpy
pickleshare==0.7.5
scikit-image==0.17.2
scikit-learn==0.24.2
scikit-optimize==0.8.1
xgboost==1.4.2
